/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.section-background
{
  background-color: var(--section-background);
}
.section-badding
{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.section-name
{
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  text-align: center;
  margin:0%;
}
.slogan
{
  color: #797979;
  font-size: 20px;
  margin: -30px 0px 0px;
  text-align: center;
}
@media (max-width:768px) {
  .section-name
  {
    color: #ebeced;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
    margin:0%;
  }
  .slogan
  {
    color: #797979;
    font-size: 15px;
    margin: -30px 0px 0px;
  }
}
.center-items
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container
{
  padding: 0px 15px;
  margin: 0px auto;
}
@media (min-width: 992px){
.container {
    width: 970px;
}}
/* End Global Rules */
/* Start Header */
header
{
  padding: 20px;
}
header .container
{
  width: 80vw;
  text-align: center;
  justify-content: space-between;
  text-align: left;
}
.container .logo
{
  width: 60px;
}
.container .toggel
{
  width: 40px;
  position: relative;
}
.toggel .icons
{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.toggel .icons span
{
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 2px;
}
.toggel .icons .fill-line
{
  width: 50%;
  transition: var(--main-duration);
}
.container .toggel:hover .fill-line 
 {
  width: 100%;
  transition: var(--main-duration);
}
.toggel ul
{
  display: none;
  list-style: none;
  position: absolute;
  top :calc(100% + 15px);
  right :0px;
  padding: 0%;
  margin: 0%;
  min-width: 200px;
  z-index: 999;
  background-color: var(--section-background);
}
.container .toggel:hover ul
{
  display: block;
}
.toggel ul::before
{
  content: "";
  border : 10px solid ;
  border-color:  transparent transparent var(--section-background) ;
  position: absolute;
  top: -21px;
  right: 0;
}
.toggel ul li:not(:last-child) a
{
  border-bottom: 1px solid #ddd;
}
.toggel ul li a
{
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: var(--main-duration);
}
.toggel ul li a:hover
{
  transform: translate(10px);
}
@media (max-width:768px) {
  header .container
  {
    width: 90vw;
  }
  .container .toggel
  {
  width: 30px;
  }
}
/* End Header */
/* Start Landing Section */
.landing
{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 60px) ;
}
.landing h1 
{
  font : normal bold 50px/50px "Work Sans", sans-serif;
  color: var(--main-color);
  margin: 0%;
}
.landing p 
{
  font : normal normal 20px/25px "Work Sans", sans-serif;
}
@media (max-width:768px) {
  .landing h1 
{
  font : normal bold 35px/35px "Work Sans", sans-serif;
  color: var(--main-color);
  margin: 0%;
}
.landing p 
{
  font : normal normal 15px/25px "Work Sans", sans-serif;
}
}
/* End Landing Section */
/* Start Features */
.features
{
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container
{
  text-align: center;
  align-content: center;
}
.features .container .feature i
{
  color: var(--main-color);
}
.feature
{
  width: calc(100% / 3);
  margin: 10px;
  padding-bottom: 10px ;
}
.feature h3
{
  font-weight: 800;
  margin: 30px 0px ;
}
.feature p
{
  line-height: 1.5;
  color: #777;
  font-size: 17px;
}
@media (max-width:768px) {
  .features .container
  {
    width: 90vw;
    flex-wrap: wrap;
    grid-gap: 20px;
    text-align: center;
    align-content: center;
  }
  .feature
{
  width: 100%;
}
}
/* End Features */
/* Start Services  */
.serviceItems 
{
    margin-top: 100px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 30px;
}
.serviceItems .serv
{
    width: calc(50% - 30px);
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.serviceItems .serv i
{
  color: var(--main-color);
}
.serv .servData
{
  color: #444;
  font-weight: 300;
  line-height: 1.6;
  
}
.serv h3
{
  padding: 0px 0px 20px;
  margin:0%;
}
@media (max-width:768px){
  .serviceItems .serv
{
    width: calc(100% - 30px);
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
}
.serviceItems .serv i
{
  text-align: center;
}
}
/* End Services  */
/* Start Portfolio */
.protfolioProjects
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.card
{
  background-color: white;
  text-align: left;
}
.card img
{
  max-width: 100%;
}
.cardData
{
  padding: 20px;
}
.cardData p
{
  color: #777;
  line-height: 1.6;
  margin: 16px 0px 0px;
}
/* End Portfolio */
/* Start About */
.about .aboutInfo
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
.about .imgContainer
{
  position: relative;
  width: 250px;
  height: 375px;
  z-index: 1;
}
.imgContainer img
{
  max-width: 100%;
}
.imgContainer::before
{
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.imgContainer::after
{
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
.about .aboutDetails
{
  flex-basis: calc(100% - 500px);
  text-align: justify;
}
.about .aboutDetails p:first-child
{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .aboutDetails p:last-of-type
{
  line-height: 2;
  color: #777;
}
.about .aboutDetails hr
{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
@media (max-width:991px) {
  .about .aboutInfo
{
  flex-direction: column;
  text-align: center;
}
  .about .imgContainer
{
  margin: 0 auto 60px;
}
.imgContainer img
{
  max-width: 100%;
}
.imgContainer::before ,
.imgContainer::after
{
  display: none;
}
.about .aboutDetails
{
  flex-direction: column;
  text-align: center;
}
.about .aboutDetails p:first-child
{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .aboutDetails p:last-of-type
{
  line-height: 2;
  color: #777;
}
.about .aboutDetails hr
{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
}
/* End About */
/* Start Contact */
.contact .contact-info
{
  text-align: center;
}
.contact .social i {
  margin-left: 10px;
}
.contact-info
{
  margin-top : var(--section-padding)
}
.contact-info > p
{
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact-info > a
{
    display: block; 
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
@media(max-width:768px){
  .contact-info > p
{
    font-size: 20px;
}
.contact-info > a
{
    font-size: 20px;
}
}
/* End Contact */
/* Start Footer */
Footer
{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
Footer span
{
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
